@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


body {
    background-color: #F5F6FA;
}
@media only screen and (min-width:786px ){
    body {
        background-color: #F5F6FA;
        width: 100%;
    }
}
.Quanment{
    display: inline-block;
    padding-right: 5px;
    margin-left: 250px;
    padding-top: 6px;
    padding-bottom: 5px;
    font: normal normal 600 21px/31px Poppins;
    color: #000000;
    opacity: 1;
}

.History{
    display: inline-block;
    padding-right: 5px;
    margin-left: 650px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2px;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
h3{
    border-style: solid;
    border-color: hsla(89, 43%, 51%, 0.3);
    background: #446DFF 0% 0% no-repeat padding-box;
    width: 1366px;
    height: 45px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 1;
}
.header6{
    margin-left: 450px; 
    width: 111px;
    height: 19px;
    text-align: left;
    font: normal normal medium 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}
.volume {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    font: normal normal medium 15px/19px Montserrat;
    background: transparent url("../assert/volume1.jpg") 0% 0% no-repeat padding-box; 
    background-position: center;
    letter-spacing: 0px;
    text-transform: capitalize;
    position: absolute;
    padding-top: 30px;
    top: 224px;
    left: 791px;
    width: 173px;
    height: 137px;
}
.volume:hover{
    background-color: rgb(201, 154, 255);
    background-position: center;
    color: blue;
}
.volume:focus{
    border: 1px solid rgb(9, 9, 255);
    background-color: rgb(201, 154, 255);
    background-position: center;
    color: blue;
}

.temperature {
    text-transform: capitalize;
    text-align: c;
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
    background: transparent url("../assert/temperature1.jpg") 0% 0% no-repeat padding-box; 
    background-position: center;
    border-radius: 7px;
    opacity: 1;
    padding-top: 30px;
    position: absolute;
    top: 224px;
    left: 588px;
    width: 173px;
    height: 137px;
    
}
.temperature:hover {
    border: 1px solid #FD5160;
    /* background-color: #FD5160;
    background-position: center; */
    color: red;
}
.temperature:focus {
    border: 1px solid red;
    background-color: rgb(245, 173, 173);
    background-position: center;
    color: red;
}
.length {
    border-radius: 7px;
    opacity: 1;
    background-position: center;
    font: normal normal medium 15px/19px Montserrat;
    color: #C9C9C9;
    text-transform: capitalize;
    top: 224px;
    width: 173px;
    height: 137px;
    position: absolute;
    padding-top: 30px;
    left: 385px;
}
.length:hover {
    border: 1px solid rgb(56, 252, 56);
    background-color: rgb(173, 245, 201);
    background-position: center;
    color: green;
}
.length:focus {
    border: 1px solid rgb(56, 252, 56);
    background-color: rgb(173, 245, 201);
    background-position: center;
    color: green;
}
.convert-body{ 
    width: 400px;
    height: 29px;
    position: absolute;
    right: 40%;
    /* background: red; */
    top: 62%;
    padding-bottom: 50px;
} 
input{
    background-color: white;
    height: 40px;
    text-align: center;
}
#input{
    margin-left: 19px;
}
#inputType{
    height: 30px;
    width: 178px;
    margin-left: 18px;
}
#resultType{
    height: 30px;
    width: 178px;
    margin-left: 15px;
}
.head4{
    font-style:oblique;
    position: absolute;
    left: 33%;
    top: 55%;
}
.head3{
    font-style:oblique;
    position: absolute;
    left: 47%;
    top: 55%;
}
.input1 {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 70%;
    width: 250px;
    height: 40px;
}
.input2 {
    display: inline-block;
    padding-right: 5px;
    position: absolute;
    top: 70%;
    left: 29%;
    width: 250px;
    height: 40px;
}
.option1{
    position: absolute;
    top: 63%;
    left: 29%;
}
.option2{
    position: absolute;
    top: 63%;
    left: 51%;
}
#inputType{
    position: absolute;
    top: 77%;
    left: 27.8%;
    width: 259px;
}
#resultType{
    position: absolute;
    left: 49%;
    top: 77%;
    width: 259px;
}